@using Red.Application.ViewModel
@using French.Tools.Extensions

@model AlunoViewModel

@{
    ViewBag.Title = "Aluno";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var sexoM = Model.Sexo == "M" ? "selected" : "";
    var sexoF = Model.Sexo == "F" ? "selected" : "";

    var GrupoDeJovensS = Model.GrupoDeJovens ? "checked=checked" : "";
    var GrupoDeJovensN = !Model.GrupoDeJovens ? "checked=checked" : "";

    var MatriculadoS = Model.Matriculado ? "checked=checked" : "";
    var MatriculadoN = !Model.Matriculado ? "checked=checked" : "";

    IEnumerable<StatusViewModel> statusLista = ViewBag.Status as IEnumerable<StatusViewModel>;
    IEnumerable<ResponsavelViewModel> responsavelLista = ViewBag.Responsavel as IEnumerable<ResponsavelViewModel>;
}

<h2 class="text-center text-danger">Alunos</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <input type="hidden" id="AlunoId" value="@Model.AlunoId" />
    <input type="hidden" id="GrupoDeJovens" value="@Model.GrupoDeJovens.BitToInt()" />
    <input type="hidden" id="Matriculado" value="@Model.Matriculado.BitToInt()" />
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 col-md-3 col-sm-3 col-xl-3 col-lg-3">&nbsp;</div>
            <div class="col-6 col-md-6 col-sm-6 col-xl-6 col-lg-6">
                <label for="Nome" class="col-form-label-lg font-weight-bold">Nome</label>
                <input type="text" class="form-control form-control-lg" id="Nome" value="@Model.Nome" />
            </div>
            <div class="col-3 col-md-3 col-sm-3 col-xl-3 col-lg-3">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-3 col-md-3 col-sm-3 col-xl-3 col-lg-3">&nbsp;</div>
            <div class="col-6 col-md-6 col-sm-6 col-xl-6 col-lg-6">
                <label for="Nome" class="col-form-label-lg font-weight-bold">Responsável</label>
                <select id="Sexo" class="form-control form-control-lg">
                    @foreach (var responsavel in responsavelLista)
                    {
                        var selected = responsavel.ResponsavelId == Model.ResponsavelId ? "selected" : "";
                        <option value="@responsavel.ResponsavelId" @selected>@responsavel.Responsavel1</option>
                    }
                </select>
            </div>
            <div class="col-3 col-md-3 col-sm-3 col-xl-3 col-lg-3">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-3 col-md-3 col-sm-3 col-xl-3 col-lg-3">&nbsp;</div>
            <div class="col-2 col-md-2 col-sm-2 col-xl-2 col-lg-2">
                <label for="Celular" class="col-form-label-lg font-weight-bold">Celular</label>
                <input type="text" class="form-control form-control-lg" id="Celular" value="@Model.Celular" />
            </div>
            <div class="col-2 col-md-2 col-sm-2 col-xl-2 col-lg-2">
                <label for="Sexo" class="col-form-label-lg font-weight-bold">Sexo</label>
                <select id="Sexo" class="form-control form-control-lg">
                    <option value="">Selecione</option>
                    <option value="M" @sexoM>Masculino</option>
                    <option value="F" @sexoF>Feminino</option>
                </select>
            </div>
            <div class="col-2 col-md-2 col-sm-2 col-xl-2 col-lg-2">
                <label for="DataNascimento" class="col-form-label-lg font-weight-bold">Aniversário</label>
                <input type="text" class="form-control form-control-lg" id="DataNascimento" value="@Model.DataNascimento.ToDateFormated()" />
            </div>
            <div class="col-3 col-md-3 col-sm-3 col-xl-3 col-lg-3">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-3 col-md-3 col-sm-3 col-xl-3 col-lg-3">&nbsp;</div>
            <div class="col-2 col-md-2 col-sm-2 col-xl-2 col-lg-2">
                <label class="col-form-label-lg font-weight-bold">Grupo de Jovens</label><br />
                <div class="btn-group btn-group-lg" data-toggle="buttons">
                    <label class="btn btn-danger"><input type="radio" value="0" name="GrupoDeJovens" id="GrupoDeJovens0" @GrupoDeJovensN />&nbsp;Não</label>
                    <label class="btn btn-success"><input type="radio" value="1" name="GrupoDeJovens" id="GrupoDeJovens1" @GrupoDeJovensS />&nbsp;Sim</label>
                </div>
            </div>
            <div class="col-2 col-md-2 col-sm-2 col-xl-2 col-lg-2">
                <label class="col-form-label-lg font-weight-bold">Matriculado</label><br />
                <div class="btn-group btn-group-lg" data-toggle="buttons">
                    <label class="btn btn-danger"><input type="radio" value="0" name="Matriculado" id="Matriculado0" @MatriculadoN />&nbsp;Não</label>
                    <label class="btn btn-success"><input type="radio" value="1" name="Matriculado" id="Matriculado1" @MatriculadoS />&nbsp;Sim</label>
                </div>
            </div>
            <div class="col-2 col-md-2 col-sm-2 col-xl-2 col-lg-2">
                <label for="Nome" class="col-form-label-lg font-weight-bold">Status</label>
                <select id="Sexo" class="form-control form-control-lg">
                    @foreach (var status in statusLista)
                    {
                        var selected = status.StatusId == Model.StatusId ? "selected" : "";
                        <option value="@status.StatusId" @selected>@status.Descricao</option>
                    }
                </select>
            </div>
            <div class="col-3 col-md-3 col-sm-3 col-xl-3 col-lg-3">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-3 col-md-3 col-sm-3 col-xl-3 col-lg-3">&nbsp;</div>
            <div class="col-6 col-md-6 col-sm-6 col-xl-6 col-lg-6">
                <label for="Observacao" class="col-form-label-lg font-weight-bold">Observação</label>
                <textarea type="text" class="form-control form-control-lg" id="Observacao" rows="3">@Model.Observacao</textarea>
            </div>
            <div class="col-3 col-md-3 col-sm-3 col-xl-3 col-lg-3">&nbsp;</div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-3 col-md-3 col-sm-3 col-xl-3 col-lg-3">&nbsp;</div>
            <div class="col-6 col-md-6 col-sm-6 col-xl-6 col-lg-6">
                <div class="row">
                    <div class="col-8 col-md-8 col-sm-8 col-xl-8 col-lg-8">&nbsp;</div>
                    <div class="col-2 col-md-2 col-sm-2 col-xl-2 col-lg-2">
                        <button class="btn btn-lg btn-success btn-block">Gravar</button>
                    </div>
                    <div class="col-2 col-md-2 col-sm-2 col-xl-2 col-lg-2">
                        <button class="btn btn-lg btn-danger btn-block" id="Voltar" onclick="javascript:history.back();">Voltar</button>
                    </div>
                </div>
            </div>
            <div class="col-3 col-md-3 col-sm-3 col-xl-3 col-lg-3">&nbsp;</div>
        </div>

    </div>

}
