@using Red.Application.ViewModel
@using French.Tools.Extensions

@model AlunoViewModel

@{
    ViewBag.Title = "Aluno";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var sexoM = Model.Sexo == "M" ? "selected" : "";
    var sexoF = Model.Sexo == "F" ? "selected" : "";

    var GrupoDeJovensS = Model.GrupoDeJovens ? "selected" : "";
    var GrupoDeJovensN = Model.GrupoDeJovens ? "selected" : "";

    var MatriculadoS = Model.Matriculado ? "selected" : "";
    var MatriculadoN = Model.Matriculado ? "selected" : "";

    IEnumerable<StatusViewModel> statusLista = ViewBag.Status as IEnumerable<StatusViewModel>;
    IEnumerable<ResponsavelViewModel> responsavelLista = ViewBag.Responsavel as IEnumerable<ResponsavelViewModel>;
}

<h2>Alunos</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 col-md-2 col-sm-2 col-xl-2 col-lg-2">&nbsp;</div>
            <div class="col-6 col-md-6 col-sm-6 col-xl-6 col-lg-6">
                <label for="Nome" class="col-form-label-lg font-weight-bold">Nome</label>
                <input type="text" class="form-control form-control-lg" id="Nome" value="@Model.Nome" />
            </div>
            <div class="col-4 col-md-4 col-sm-4 col-xl-4 col-lg-4">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-2 col-md-2 col-sm-2 col-xl-2 col-lg-2">&nbsp;</div>
            <div class="col-6 col-md-6 col-sm-6 col-xl-6 col-lg-6">
                <label for="Nome" class="col-form-label-lg font-weight-bold">Responsável</label>
                <select id="Sexo" class="form-control form-control-lg">
                    @foreach (var responsavel in responsavelLista)
                    {
                        var selected = responsavel.ResponsavelId == Model.ResponsavelId ? "selected" : "";
                        <option value="@responsavel.ResponsavelId" @selected>@responsavel.Responsavel1</option>
                    }
                </select>
            </div>
            <div class="col-4 col-md-4 col-sm-4 col-xl-4 col-lg-4">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-2 col-md-2 col-sm-2 col-xl-2 col-lg-2">&nbsp;</div>
            <div class="col-2 col-md-2 col-sm-2 col-xl-2 col-lg-2">
                <label for="Celular" class="col-form-label-lg font-weight-bold">Celular</label>
                <input type="text" class="form-control form-control-lg" id="Celular" value="@Model.Celular" />
            </div>
            <div class="col-2 col-md-2 col-sm-2 col-xl-2 col-lg-2">
                <label for="Sexo" class="col-form-label-lg font-weight-bold">Sexo</label>
                <select id="Sexo" class="form-control form-control-lg">
                    <option value="">Selecione</option>
                    <option value="M" @sexoM>Masculino</option>
                    <option value="F" @sexoF>Feminino</option>
                </select>
            </div>
            <div class="col-2 col-md-2 col-sm-2 col-xl-2 col-lg-2">
                <label for="DataNascimento" class="col-form-label-lg font-weight-bold">Aniversário</label>
                <input type="text" class="form-control form-control-lg" id="DataNascimento" value="@Model.DataNascimento.ToDateFormated()" />
            </div>
            <div class="col-4 col-md-4 col-sm-4 col-xl-4 col-lg-4">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-2 col-md-2 col-sm-2 col-xl-2 col-lg-2">&nbsp;</div>
            <div class="col-2 col-md-2 col-sm-2 col-xl-2 col-lg-2">
                <label class="col-form-label-lg font-weight-bold">Grupo de Jovens</label><br />
                <label for="GrupoDeJovens0" class="col-form-label-lg">Não</label>
                <input type="radio" value="0" name="GrupoDeJovens" id="GrupoDeJovens0" @GrupoDeJovensN class="custom-radio"/>&nbsp;&nbsp;
                <label for="GrupoDeJovens1" class="col-form-label-lg">Sim</label>
                <input type="radio" value="1" name="GrupoDeJovens" id="GrupoDeJovens1" @GrupoDeJovensS class="custom-radio"/>
                <input type="hidden" class="form-control form-control-lg" id="GrupoDeJovens" value="@Model.GrupoDeJovens.BitToInt()" />
            </div>
            <div class="col-2 col-md-2 col-sm-2 col-xl-2 col-lg-2">
                <label class="col-form-label-lg font-weight-bold">Matriculado</label><br />
                <label for="Matriculado0" class="col-form-label-lg">Não</label>
                <input type="radio" value="0" name="Matriculado" id="Matriculado0" @MatriculadoN class="custom-radio"/>&nbsp;&nbsp;
                <label for="Matriculado1" class="col-form-label-lg">Sim</label>
                <input type="radio" value="1" name="Matriculado" id="Matriculado" @MatriculadoS class="custom-radio"/>
                <input type="hidden" class="form-control form-control-lg" id="Matriculado" value="@Model.Matriculado.BitToInt()" />
            </div>
            <div class="col-2 col-md-2 col-sm-2 col-xl-2 col-lg-2">
                <label for="Nome" class="col-form-label-lg font-weight-bold">Responsável</label>
                <select id="Sexo" class="form-control form-control-lg">
                    @foreach (var status in statusLista)
                    {
                        var selected = status.StatusId == Model.StatusId ? "selected" : "";
                        <option value="@status.StatusId" @selected>@status.Descricao</option>
                    }
                </select>
            </div>
            <div class="col-4 col-md-4 col-sm-4 col-xl-4 col-lg-4">&nbsp;</div>
        </div>
    </div>

}
