@using Red.Application.ViewModel
@using French.Tools.Extensions

@model IList<AlunoViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Alunos</h2>
<div class="container-fluid">
    <div class="row">

    </div>
    <div class="row">
        <table class="table table-striped table-hover table-sm" id="TableAluno">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th colspan="2">Responsável</th>
                    <th>Dt.Nasc.</th>
                    <th>Jovens</th>
                    <th>Matr.</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.AlunoId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @item.Responsavel.Responsavel1
                        </td>
                        <td>
                            @item.Responsavel.Responsavel2
                        </td>
                        <td>
                            @item.DataNascimento.ToDateFormated()
                        </td>
                        <td>
                            @Html.Raw(item.GrupoDeJovens.ToSimNao())
                        </td>
                        <td>
                            @Html.Raw(item.Matriculado.ToSimNao())
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status.Descricao)
                        </td>
                        <td style="text-align:right;">
                            <a class="btn btn-success btn-sm" onclick="Edit('@item.AlunoId')" href="@Url.Action("Edit",new { id = item.AlunoId })">
                                <i class="fa fa-edit" data-toggle="tooltip" data-placement="top" title="Editar Registro"></i>
                            </a>
                            <a type="button" class="btn btn-danger btn-sm" href="#">
                                <i class=" fa fa-trash" data-toggle="tooltip" data-placement="top" title="Excluir Registro">
                                </i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
