@using Red.Application.ViewModel
@using Red.Extensions
@model IEnumerable<AlunoViewModel>
@Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
@Styles.Render("~/plugins/dataPickerStyles")
@Styles.Render("~/plugins/jasnyBootstrapStyles")
@Styles.Render("~/plugins/awesomeCheckboxStyles")
@{
    ViewBag.Title = "Alunos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var disabled = "";
}

<input type="hidden" name="URLObterTodos" id="URLObterTodos" value="@Url.Action("Index")" />
<input type="hidden" name="URLEdit" id="URLEdit" value="@Url.Action("Edit")" />
<input type="hidden" name="URLGravar" id="URLGravar" value="@Url.Action("Gravar")" />
<input type="hidden" name="URLExcluir" id="URLExcluir" value="@Url.Action("Excluir")" />
<input type="hidden" name="URLExcluir" id="URLAutoComplete" value="@Url.Action("ObterNomesParaPesquisa")" />
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Lista de Alunos</h5>
                    <div class="ibox-tools">
                        <button type="button" id="Novo" name="Novo"
                                class="btn btn-primary btn-lg"
                                data-toggle="tooltip" data-placement="top"
                                title="Novo Registro">
                            <i class="glyphicon glyphicon-file"></i>Novo
                        </button>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row col-lg-12">
                        <div class="row col-lg-10">Pesquisar</div>
                        <div class="row col-lg-2">&nbsp;</div>
                    </div>
                    <div class="row col-lg-12">
                        <div class="row col-lg-10 col-md-'0'">
                            <input type="text" class="form-control" id="PesquisarNome" name="PesquisarNome" placeholder="Digite o nome ou parte dele" />
                        </div>
                        <div class="row col-lg-1">&nbsp;</div>
                        <div class="row col-lg-1">
                            <a href="#" id="Pesquisar" class="btn btn-primary btn-md" data-toggle="tooltip" data-placement="top" title="Pesquisar"><i class="glyphicon glyphicon-search"></i></a>
                        </div>
                    </div>

                    <div class="row col-lg-12 col-md-12">&nbsp;</div>

                    <table class="table table-striped" id="TableAluno">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nome</th>
                                <th>Resp.</th>
                                <th>Dt.Nasc.</th>
                                <th>Jovens</th>
                                <th>Matr.</th>
                                <th>Status</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Codigo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nome)
                                    </td>
                                    <td>
                                        -@item.Responsavel.Responsavel1 <br /> -@item.Responsavel.Responsavel2 
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DataNascimento)
                                    </td>
                                    <td>
                                        @Html.Raw(item.GrupoDeJovens.ToSimNaoIcone())
                                    </td>
                                    <td>
                                        @Html.Raw(item.Matriculado.ToSimNaoIcone())
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status.Descricao)
                                    </td>
                                    <td style="text-align:right;">
                                        <button type="button" class="btn btn-success btn-sm" onclick="Edit('@item.Codigo')">
                                            <i class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="top" title="Editar Registro"></i>
                                        </button>
                                        <button type="button" id="Excluir" name="Excluir" class="btn btn-danger btn-sm" onclick="ExcluirConfirmar('@item.Codigo','@item.Nome')" @disabled>
                                            <i class=" glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="top" title="Excluir Registro">
                                            </i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
</div> 

@Html.Partial("Edicao");
@Html.Partial("Exclusao");

@section scripts
{
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/Moment")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/script/Aluno/main")
}
